@page
@model Web.Pages.Shared.Vehiculos.IndexModel
@{
}
<h1>Listado de vehiculos</h1>

<div class="container">
    <div class="text-center mb-4">
        <a type="button" class="btn btn-primary" asp-page="./Agregar">Agregar</a>
    </div>
    <div class="row">
        @if (Model.vehiculos != null)
        {
            foreach (var vehiculo in Model.vehiculos)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><p>@Html.DisplayFor(modelo => vehiculo.Marca) @Html.DisplayFor(modelo => vehiculo.Modelo)</p></h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelo => vehiculo.Anio)</h6>
                            <p class="card-text">@Html.DisplayFor(modelo => vehiculo.Placa)</p>
                            <a type="button" class="btn btn-primary" asp-page="./Detalle" asp-route-id="@vehiculo.Id">Detalle</a>
                            <a type="button" class="btn btn-warning" asp-page="./Editar" asp-route-id="@vehiculo.Id">Editar</a>
                            <a type="button" class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@vehiculo.Id">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>